*.pt filter=lfs diff=lfs merge=lfs -text
retrieval_api/models/efficientnet.pt filter=lfs diff=lfs merge=lfs -text
retrieval_api/models/resnet_ibn_gem.pt filter=lfs diff=lfs merge=lfs -text
retrieval_api/models/resnet_ibn_gem_training.pt filter=lfs diff=lfs merge=lfs -text
retrieval_api/models/resnet_ibn_gem_validation.pt filter=lfs diff=lfs merge=lfs -text
