<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile style="background-image:url('../../../../assets/london.jpg'); background-size: cover;"></mat-grid-tile>
  <mat-grid-tile style="background-image:url('../../../../assets/india.jpg'); background-size: cover;"></mat-grid-tile>
  <mat-grid-tile style="background-image:url('../../../../assets/sydney.jpg'); background-size: cover;"></mat-grid-tile>
  <mat-grid-tile style="background-image:url('../../../../assets/turkey.jpg'); background-size: cover;"></mat-grid-tile>
</mat-grid-list>
<div class="main-container">
  <p class="main-container-title">Get images of the same or similar landmarks</p>
  <p class="main-container-subtitle">Simply choose a model and upload an image</p>
  <mat-card>
    <p class="card-subtitle">Select the model you prefer for landmark retrieval</p>
    <mat-card-content class="request-content">
      <div class="model-content">
        <mat-form-field appearance="fill">
          <mat-label>Selected model</mat-label>
          <mat-select [(value)]="selectedModel">
            <mat-option *ngFor="let model of models" [value]="model">{{model.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="model-content-info">
          <p>{{selectedModel.description}}</p>
          <p>This model has the following accuracy: <strong>{{selectedModel.accuracy.train}}%</strong> (training),
            <strong>{{selectedModel.accuracy.validation}}%</strong> (validation),
            <strong>{{selectedModel.accuracy.test}}%</strong> (testing).</p>
          <p>The rating given by other users is: <strong>{{(selectedModel.rating | number : "1.2-2") || "-" }}
            / 10.</strong></p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="upload-content">
        <input #fileUpload (change)="onFileSelected($event)" class="file-input" type="file">
        <div class="file-upload">
          <p class="card-subtitle">Upload the target image</p>
          <div class="upload">
            {{fileName || "No file uploaded yet"}}

            <button (click)="fileUpload.click()" class="upload-btn" color="primary"
                    mat-mini-fab>
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <mat-checkbox [(ngModel)]="getDetection" class="example-margin" color="primary">Detect landmark with Google
            Cloud Vision API
          </mat-checkbox>
        </div>
      </div>
      <mat-card-actions>
        <button (click)="retrieveResults()" color="primary" mat-raised-button>Get similar landmarks</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar *ngIf="requestProgress" [value]="requestProgress" class="progress-bar"
                          mode="determinate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
<app-prediction-section (ratingAdded)="addRating($event)" [inputDetection]="inputDetection"
                        [inputImage]="previewFile" [outputDetections]="outputDetections"
                        [predictedLandmarks]="predictedLandmarks" [showDetections]="getDetection">
</app-prediction-section>
