.input-container {
    display: flex;
    justify-content: center;
}

.response-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 10px;
}

mat-card {
    width: 30%;
}

// .input-image {
//     display: block;
//     margin: auto;
//     width: 30%;
// }
// mat-card img {
//     object-fit: cover;
//     /*this makes the image in src fit to the size specified below*/
//     width: 100%;
// }
.img-tile {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
}